.greenborder {
    /*border: 1px solid green;*/
    text-align: center;
}

.vilkenton{
    text-align: center;
    font-size: 44px;
    height: 20vh;
    padding-top: 10vh;
}



.uppnerknappar{
    display: inline-block;
    width: 49%;
    height: 10vh;
    padding-top: 10vh;
}

.playpauseknapp{
    height: 18vh;
    padding-top: 11vh;

}

#playpauseiplaypausejs{
padding-top:5vh;
height:20vh;

}

#playpauseparentdiv{
    text-align: center;
 
}

#minusett{
    background-color: #FF1654
}



#plusett{
    background-color: #70C1B3
}

#minstolv{
    background-color: #70C1B3
}

#plustolv{
    background-color: #FF1654;

}

/*minusett
plusett
minstolv
plustolv*/